/*导航*/
.t_nav{
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.t_nav a{
    float: left;
    width: 33.33%;
    display: block;
}
.t_nav a img{
    display: block;
    width: 100%;
}
/*商品*/
.t_product{
    width:100%;
    padding: 0 10px;
}
.t_product .pro_item{
    width: 48%;
    float: left;
    margin-top: 10px;
}
.t_product .pro_item:nth-child(2n){
   margin-left: 4%;
}
.t_product .pro_item .product_item_box{
    width: 100%;
    min-height: 200px;
    box-shadow: 0 0 3px #ddd;
    display: block;
    text-align: center;
    padding: 10px 0;
}
.t_product .pro_item .product_item_box img{
    width: 100%;
    display: block;
}
.t_product .pro_item .product_item_box p:first-of-type{
    padding: 0 10px;
}
.t_product .pro_item .product_item_box .price{
    font-size: 12px;
    color:red;
}
.t_product .pro_item .product_item_box p:last-of-type{
    text-align: center;
}
.t_product .pro_item .product_item_box .oldPrice{
    font-size: 12px;
    color:#ddd;
    text-decoration: line-through;
}
.t_product .pro_item .product_item_box .button{
    background: #006699;
    color:#fff;
}













